# Python cache and byte-code
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints
.ipython/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
Desktop.ini
